<div id="project_window" class="popup-window" >
	<h1>Create a new project</h1>
	<div class="form">
		<div class="group">
			<div>Project name</div>
			<input name="project_name" type="text">
			
			<div>Identification code</div>
			<input name="project_id_code" type="text">
			
			<div>Project acronym</div>
			<input name="project_acronym" type="text">
			
			<div>Start date</div>
			<input id="form_project_start_date" name="project_start_date" type="text">
			
			<div>End date</div>
			<input id="form_project_end_date" name="project_end_date" type="text">
		</div>
		<div class="group">
			<div>Is the project complete?</div>
			<input id="is_project_complete_checkbox" name="project_is_complete" type="checkbox">
			
			<div>Budget</div>
			<input name="project_budget" type="text" value="">
			
			<div>Awarding date</div>
			<input id="form_project_awarding_date" name="project_awarding_date" type="text" value="">
			
			<div>Financing body</div>
			<input name="project_financing_body" type="text" value="">
			
			<div>Responsible investigator</div>
			<input name="project_responsible_researcher" type="text" value="">
		</div>
		
		<div class="clear_both"></div>

		<div class="button_group">
			<!--<input id="close_project_window_button" type="reset" value="Cancel">-->
			<button id="close_project_window_button">Cancel</button>
			<!--<input id="submit_project_window_button" type="submit" value="Submit">-->
			<button id="submit_project_window_button">SUBMIT</button>
		</div>
	</div>
</div>
