<div id="task_panel">
	<div id='tasks_container' >
		<table id="task_table" class="task_table squaredFour" >
			<tr id='task_table_header' >
				<th class="column-complete"><i class="glyphicon glyphicon-ok"></i></th>
				<th class="column-important"><i class="glyphicon glyphicon-warning-sign"></th>
				<th class="column-labels">Labels</th>
				<th class="column-name" name="task_name" >Description</th>
				<th class="column-start-date" name="task_start_date" >Start</th>
				<th class="column-end-date" name="task_end_date"  >End</th>
				<th class="column-users"><i class="glyphicon glyphicon-user"></i></th>
				<th class="column-delete">&nbsp;</th>
				<th class="column-handler">&nbsp;</th>
			</tr>
		</table>
	</div>
</div>