<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55798918-1', 'auto');
  ga('send', 'pageview');

</script>

<link rel="stylesheet" href="/static/neuroauth.css">
 
<div class='thumbs' >

	<div class='thumb' >
		<a href="http://cnp-intranet.champalimaud.pt:8282/" target="_blank" >
			<h1>CNP Core</h1>
			<div class="text" >
				Access info about:
				<ul>
					<li>Human resources.</li>
					<li>Research groups & publications.</li>
					<li>Suppliers & budgets.</li>
				</ul>
				<img src='/static/core.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="/" >
			<h1>CNP Project manager</h1>
			<div class="text" >
				Replace email in the communication with your team:
				<ul>
					<li>Organize your projects & tasks.</li>
					<li>Share tasks with other users.</li>
					<li>Put tasks, conversations & documents toguether.</li>
					<li>Create reminders.</li>
					<li>Syncronize your projects with our calendar.</li>
				</ul>
				<img src='/static/project.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="http://wiki.neuro.fchampalimaud.org/" target="_blank" >
			<h1>CNP Wiki</h1>
			<div class="text" >
				View & update CNP procedures<br/>
				<ul>
					<li>Human Resources.</li>
					<li>Purchasing & Logistics.</li>
					<li>Grants & Fellowships.</li>
					<li>Operations.</li>
					<li>Events.</li>
					<li>INDP.</li>
					<li>IT.</li>
					<li>Platforms.</li>
					<li>Scientific procedures.</li>
				</ul>
				<img src='/static/dokuwiki.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="http://opencsp/" >
			<h1>OpenCSP</h1>
			<div class="text" >
				A Web Platform that aggregates in the same place several scientific applications that run over different computational clusters.<br/>
				<br/>
				Available applications:
				<ul>
					<li>Video analysis.</li>
					<li>Spike sorting.</li>
					<li>CMTK for brain alignment.</li>
				</ul>
				Available clusters:
				<ul>
					<li>CNP Cluster.</li>
					<li>National Grid (FCCN).</li>
				</ul>
				<img src='/static/opencsp.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="http://storage.champalimaud.pt/" target="_blank" >
			<h1>Storage</h1>
			<div class="text" >
				An instance of Owncloud platform that centralize all the storage servers. Join together and share in the same Web platform:
				<ul>
					<li>Your Synology drive.</li>
					<li>Own computer.</li>
					<li>Microscopies computers.</li>
					<li>Dropbox & Google drive.</li>
					<li>And other servers</li>
				</ul>
				<img src='/static/owncloud6.png' />
			</div>
		</a>
	</div>

	
	

	

	<div class='thumb' >
		<a href="http://cnpswvs02.champalimaud.pt:8484/" target="_blank" >
			<h1>Vectors database</h1>
			<div class="text" >
				Find and update informations about the vectors stocks managed by the Vector Facility.
				<img src='/static/vector.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="http://cnpswvs02.champalimaud.pt:8383/" target="_blank" >
			<h1>Flies database</h1>
			<div class="text" >
				Find and update informations about the flies stocks managed by the Fly Facility.
				<img src='/static/fly.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="http://wiki.neuro.fchampalimaud.org/" target="_blank" >
			<h1>iLabs - Platforms orders</h1>
			<div class="text" >
				Request services to the Platforms.
				<img src='/static/iLablogo.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="http://intranet.champalimaud.pt/" target="_blank" >
			<h1>CF Intranet</h1>
			<div class="text" >
				Access to:
					<ul>
						<li>MAC system - Maintainance tickets.</li>
						<li>Requisitions system.</li>
						<li>and more...</li>
					</ul>
				<img src='/static/cf.png' />
			</div>
		</a>
	</div>

	

	<div class='thumb' >
		<a href="http://fchampalimaud.org/" target="_blank" >
			<h1>CF Website</h1>
			<div class="text" >
				<img src='/static/cf_logo_en.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="http://neuro.fchampalimaud.org/" target="_blank" >
			<h1>CNP Website</h1>
			<div class="text" >
				<img src='/static/cnp.png' />
			</div>
		</a>
	</div>

	<div class='thumb' >
		<a href="http://centroclinico.fchampalimaud.org/" target="_blank" >
			<h1>Centro clinico website</h1>
			<div class="text" >
				<img src='/static/cf_logo_en.png' />
			</div>
		</a>
	</div>

</div>